root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.{css,html,js,json,yaml,yml}]
indent_size = 2

[*.bat]
indent_style = tab

[Makefile]
indent_style = tab
