[flake8]

max-line-length = 120
ignore =
    # Missing docstring in public module
    D100,
    # Missing docstring in public class
    D101,
    # Missing docstring in public method
    D102,
    # Missing docstring in public function
    D103,
    # Missing docstring in public package
    D104,
    # Missing docstring in magic method
    D105,
    # Missing docstring in public nested class
    D106,
    # Missing docstring in __init__
    D107,
    # One-line docstring should fit on one line with quotes
    D200,
    # No blank lines allowed after function docstring
    D202,
    # 1 blank line required between summary line and description
    D205,
    # Multi-line docstring closing quotes should be on a separate line
    D209,
    # First line should end with a period
    D400,
    # First line should be in imperative mood; try rephrasing
    D401,
    # First line should not be the function's "signature"
    D402,
    # First word of the first line should be properly capitalized
    D403,
    # whitespace before ':'
    E203,
    # multiple statements on one line (colon)
    E701,
    # multiple statements on one line (def)
    E704,
    # line break before binary operator
    W503

exclude =
    .git,
    docs,

per-file-ignores =
    # E501: line too long
    ayugespidertools/common/params.py:E501,
    tests/test_common/test_common_utils.py:E501
