[flake8]

max-line-length = 120
ignore =
    # W503: line break before binary operator
    W503,
    # E203: whitespace before ':'
    E203
    # E701: multiple statements on one line (colon)
    E701
    # E704: multiple statements on one line (def)
    E704

exclude =
    .git,
    docs,

per-file-ignores =
# E501: line too long
    ayugespidertools/common/params.py:E501
    tests/test_common/test_common_utils.py:E501
