[tool.poetry]
name = "AyugeSpiderTools"
version = "1.0.7"
description = "scarpy 扩展库：在爬虫和其它开发中遇到的一些工具库集合"
authors = ["ayuge <ayuge.s@qq.com>"]
maintainers = ["ayuge <ayuge.s@qq.com>"]
readme = "README.md"
packages = [{include = "ayugespidertools"}]
repository = "https://github.com/shengchenyang"
documentation = "https://github.com/shengchenyang/DemoSpider"
keywords = ["scrapy", "aiohttp", "asyncio"]
homepage = "http://175.178.210.193:8090/mkdocs-material/"
include = ["pyproject.toml"]

[tool.poetry.dependencies]
python = "^3.8"
opencv-python = "^4.6.0.66"
PyMySQL = "^1.0.2"
environs = "^9.5.0"
loguru = "^0.6.0"
numpy = "^1.23.3"
PyExecJS = "^1.5.1"
requests = "^2.28.1"
Pillow = "^9.2.0"
Scrapy = "^2.6.3"
pandas = "^1.5.0"
WorkWeixinRobot = "^1.0.1"
retrying = "^1.3.3"
SQLAlchemy = "^1.4.41"
DBUtils = "^3.0.2"
itemadapter = "^0.7.0"
aiohttp = "^3.8.3"
html2text = "^2020.1.16"
pymongo = "^3.12.3"

[tool.poetry.scripts]
ayugespidertools = 'ayugespidertools.utils.cmdline:execute'

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
