import aiohttp
from ayugespidertools.spiders import AyuSpider
from scrapy.http import Request


class $classname(AyuSpider):
    name = "$name"
    allowed_domains = ["$domain"]
    start_urls = ["$url"]

    async def start(self):
        self.slog.info("starting ...")
        async with aiohttp.ClientSession() as session:
            async with session.get("https://myip.ipip.net") as additional_response:
                additional_data = await additional_response.text()
                self.slog.debug(f"parse 响应内容: {additional_data}")
                yield Request(
                    url="https://myip.ipip.net",
                    callback=self.parse,
                )

    async def parse(self, response, **kwargs):
        self.slog.debug(f"parse 响应内容: {response.text}")
