from scrapy.spiders import Rule
from scrapy.linkextractors import LinkExtractor
from ayugespidertools.items import AyuItem
from ayugespidertools.spiders import AyuCrawlSpider


class $classname(AyuCrawlSpider):
    name = "$name"
    allowed_domains = ["$domain"]
    start_urls = ["$url"]
    custom_settings = {
        "ITEM_PIPELINES": {
            "ayugespidertools.pipelines.AyuFtyMysqlPipeline": 300,
        },
        "DOWNLOADER_MIDDLEWARES": {
            "ayugespidertools.middlewares.RandomRequestUaMiddleware": 400,
        },
    }

    rules = (Rule(LinkExtractor(allow=r"Items/"), callback="parse_item", follow=True),)

    def parse_item(self, response):
        self.slog.info("请查看 DemoSpider 中的 demo_crawl 示例")
        # yield AyuItem(
        #     url=response.url,
        #     _table="_demo_crawl",
        # )
