name: Publish
on:
  push:
    tags:
      - 'ayugespidertools-[0-9]+.[0-9]+.[0-9]+'

concurrency:
  group: ${{github.workflow}}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/AyugeSpiderTools
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - run: |
          python -m pip install poetry==2.1.1
          python -m poetry build
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
